scikit-learn==1.6.1
numpy==1.26.4
onnx==1.17.0
onnxruntime==1.20.1
onnxsim==0.4.36
onnxoptimizer==0.3.13
opencv-python==4.10.0.84
torch==2.5.1
torchvision==0.20.1
torchsummary==1.5.1
matplotlib==3.10.3
seaborn==0.13.2
grad-cam==1.5.5
ipykernel==6.29.5
